{% extends 'accounts/base.html' %}


{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow p-4">
                <h2 class="text-center text-primary mb-4">تغییر پسورد موفق</h2>
                <div class="text-center">
                    <p class="text-muted mb-4">
                        
                        پسورد شما با موفقیت عوض شد . شما میتوانی به صفحه لاگین بروی و با پسورد جدید وارد شوی
                    </p>
                    <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa-sign-in-alt mr-2"></i>
                        لاگین
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
