{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">  
    {% block title %}    
    {% endblock  %}
	{% include 'main/partials/head.html' %}	
	<body>
		<!-- HEADER -->
		 {% include 'main/partials/header.html' %}
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		{% include 'main/partials/nav.html' %}
		<!-- /NAVIGATION -->

	     
         {% block content %}
            
         {% endblock  %}
            

		<!-- NEWSLETTER -->
		   {% include 'main/partials/newsletter.html' %}
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		 {% include 'main/partials/footer.html' %}
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		{% include 'main/partials/js.html' %}

	</body>
</html>
