{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    <title>صفحه اصلی</title>
{% endblock  %}

{% block content %}
    	<!-- SECTION -->
		   {% include 'main/partials/shop.html' %}
		<!-- /SECTION -->

		<!-- SECTION -->
		  {% include 'main/partials/new_product.html' %}
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		 {% include 'main/partials/hot-deal.html' %}
		<!-- /HOT DEAL SECTION -->

		<!-- SECTION -->
		    {% include 'main/partials/top_selling.html' %}
		<!-- /SECTION -->

{% endblock  %}
    


    