<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">درباره ما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>تهران، خیابان ولیعصر</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>۰۲۱-۹۵-۵۱-۸۴</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>info@example.com</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">دسته‌بندی‌ها</h3>
                        <ul class="footer-links">
                            <li><a href="#">پیشنهادات ویژه</a></li>
                            <li><a href="#">لپ‌تاپ‌ها</a></li>
                            <li><a href="#">گوشی‌های هوشمند</a></li>
                            <li><a href="#">دوربین‌ها</a></li>
                            <li><a href="#">لوازم جانبی</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix visible-xs"></div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">اطلاعات</h3>
                        <ul class="footer-links">
                            <li><a href="#">درباره ما</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="#">حریم خصوصی</a></li>
                            <li><a href="#">سفارشات و مرجوعی</a></li>
                            <li><a href="#">قوانین و مقررات</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">خدمات</h3>
                        <ul class="footer-links">
                            <li><a href="#">حساب کاربری</a></li>
                            <li><a href="#">مشاهده سبد خرید</a></li>
                            <li><a href="#">لیست علاقه‌مندی‌ها</a></li>
                            <li><a href="#">پیگیری سفارش</a></li>
                            <li><a href="#">راهنما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        کپی‌رایت &copy;<script>document.write(new Date().getFullYear());</script> تمامی حقوق محفوظ است | این قالب با <i class="fa fa-heart-o" aria-hidden="true"></i> توسط <a href="https://colorlib.com" target="_blank">Colorlib</a> ساخته شده است
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
                <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>