{% load static %}


<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            
                <ul class="header-links pull-left">
                    {% if request.user.is_authenticated %}
                    
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user-o"></i> {{ request.user.name|default:request.user.email  }}</a></li>
                    <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                        
                          {% csrf_token %} 
                    </form>
                  
                    <li><a href="#" id="logout-link"><i class="fa fa-sign-out fa-1x fa-flip-horizontal" aria-hidden="true"></i></li>
                       

                    {% else %}
                     <li><a href="{% url 'login' %}"><i class="fa fa-user-o"></i> ورود</a></li>
                     <li><a href="{% url 'register' %}"><i class="fa fa-user-o"></i> ثبت‌نام</a></li>
                    {% endif %}

                </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="#" class="logo">
                            <img src="{% static 'main/img/logo.png'  %}" alt="">
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                <div class="col-md-6">
                    <div class="header-search text-right">
                        <form action="{% url 'search' %}" method="GET">
                            <input class="input" name="q" placeholder="جستجو" required>
                            <button type="submit" class="search-btn">جستجو</button>
                        </form>
                    </div>
                </div>
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">
                        <!-- Wishlist -->
                        <div>
                            <a href="{% url 'interests:interest_list' %}">
                                <i class="fa fa-heart-o"></i>
                                <span>علاقه مندی</span>
                                
                                <div class="qty">{{ total_interests|default:"0" }}</div>
                            </a>
                        </div>
                        <!-- /Wishlist -->

                        <!-- Cart -->
                        {% include './cart.html' %}
                        <!-- /Cart -->

                        <!-- Menu Toogle -->
                        <div class="menu-toggle">
                            <a href="#">
                                <i class="fa fa-bars"></i>
                                <span>Menu</span>
                            </a>
                        </div>
                        <!-- /Menu Toogle -->
                    </div>
                </div>
                <!-- /ACCOUNT -->
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- /MAIN HEADER -->
</header>