<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav" style="float: right;">
                <li class="active" style="margin-left: 30px;"><a href="#">خانه</a></li>
               
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">دسته بندی ها <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">دسته 1</a></li>
                        <li><a href="#">دسته 2</a></li>
                        <li><a href="#">دسته 3</a></li>
                        
                    </ul>
                </li>
                <li><a href="#laptops">لپ‌تاپ‌ها</a></li>
                <li><a href="#smartphones">گوشی‌های هوشمند</a></li>
                
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>