{% load custom_filters %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">محصولات جدید</h3>
            
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                 
                                 {% for product in products %}
                                    <div class="product">
                                    <div class="product-img">
                                        <img src="{{ product.image.url }}" width="263" height="263" alt="">
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{ product.category.name }}</p>
                                        <h3 class="product-name"><a href="#">{{ product.title }}</a></h3>
                                        <h4 class="product-price">{{ product.price|persian_numbers }} تومان 
                                            <del class="product-old-price">{{ product.price|persian_numbers }} تومان</del></h4>
                                        <div class="product-rating">
                                           
                                            <div class="star-rating">
                                                {{ product.average_rating|star_rating }}
                                            </div>
                                        </div>
                                        <div class="product-btns">
                                            
                                            {% if request.user.is_authenticated %}
                                                <button
                                                    class="add-to-wishlist {% if product_interests|get_item:product.id %}active{% endif %}"
                                                    data-product-id="{{ product.id }}"
                                                    data-url="{% url 'interests:toggle_interest' product.id %}"
                                                    tabindex="0"
                                                >
                                                    <i class="fa {% if product_interests|get_item:product.id %}fa-heart text-red{% else %}fa-heart-o{% endif %}"></i>
                                                    <span class="tooltipp">
                                                        {% if product_interests|get_item:product.id %}
                                                            حذف از علاقه مندی
                                                        {% else %}
                                                            افزودن به علاقه مندی
                                                        {% endif %}
                                                    </span>
                                                </button>
                                            {% endif %}
                                                
                                            
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">مقایسه</span></button>
                                            <button class="quick-view">
                                                <a href="{% url 'product_detail' product.slug %}"><i class="fa fa-eye"></i></a>
                                                <span class="tooltipp">نمایش</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> افزودن به سبد</button>
                                    </div>
                                </div>
                                 {% endfor %}
                                    
                                
                            
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>